.center{ 
        width: 50%;
        height: 50%;
        display: flex,
        flex-flow: now nowrap;
        align-items: center;
        justfy-content: center;
}
html,body{
          margin:0;
          padding:0;
          heigth: 50%
}
.msg{
     font-size:64px;
}
